@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');



body{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

header{
    max-width: 500px;
    text-align: center;
    margin: 50px auto;
}

h1{
    font-weight: 200;
    margin: 0;
}

h1.powered{
    font-weight: 600;
}

p{
    color: hsl(229, 6%, 66%);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      ". box2 ."
      "box1 box2 box3"
      "box1 box4 box3"
      ". box4 .";
    max-width: 1230px;
    margin: 0 auto;
    justify-content: center;
}

.box1, .box2, .box3, .box4{
    background-color: #ffffff;
    padding: 30px;
    width: 350px;
    height: 250px;
    margin: 15px;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    }



.box1{
    border-top: 5px solid hsl(180, 62%, 55%);
    grid-area: box1;
}

.box2{
    border-top: 5px solid hsl(0, 78%, 62%);
    grid-area: box2;
}

.box3{
    border-top: 5px solid hsl(212, 86%, 64%);
    grid-area: box3;
}

.box4{
    border-top: 5px solid   hsl(34, 97%, 64%);
    grid-area: box4;
}

.box h2{
    margin: 0;
}

.box p{
    font-size: 14px;
    margin: 15px 0px 30px 0px;
}

.box1 img, .box2 img, .box3 img, .box4 img{
    display: block;
    margin-left: auto;
}

footer{
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 375px){
    body{
        font-family: Poppins;
        background-color: #FAFAFA;
        max-width: 375px;
        margin: 0 auto;
      }
   

    .container{
    display: flex;
    flex-wrap: wrap;
    max-width: 360px;
    margin: 0 auto;
    justify-content: center;}



}
